.music_list {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_upload {
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 6px;
    background-color: #3eb2fd;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    margin-top: 25px;

    &:disabled {
      cursor: not-allowed;
      background-color: #cccccc;
      opacity: 0.7;
    }
  }

  &_col {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_item {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
