.play {
  display: flex;
  align-items: center;
  gap: 10px;

  &_button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      width: 25px;
      height: 25px;
    }

    &:hover {
      transition: all 1s;
      border: 0;
    }
  }
  .remove {
    background: #5e5df0;
    border-radius: 999px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: red;
      transition: all 1s;
    }
  }
}

.music {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
