.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: auto;
  height: 100vh;
}
.buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
